* {
	font-family: cursive;
}

/** HEADER **/
#header-nav {
	background-color: #8A0886;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding: 5px 5px 5px 0;
	float: left;
}

.navbar-brand h1 {
	font-family: Cursive;
	position: absolute;
	left: 0;
	color: black;
	font-size: 2.1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-top: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

.container {
	padding-right: 0;
	padding-left: 0;
}


#chicken {
	margin-top: -8px;
	background-color: #FF8000;
}

#beef {
	background-color: #F7819F;
}

#sushi {
	margin-bottom: -7px;
	background-color: #A9F5A9;
}

#menu1 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: -10px;

}

#menu2 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: -10px;
}

#chicken-section {
	border: 1px solid black;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -40px;
}

#menu {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: -15px;
	margin-bottom: 25px;
}

/*********** Chicken Tile ***********/
#chicken-tile {
	background-color: #FF8000;
	border: 2px solid black;

}

#chicken-tile span {
	font-size: 1.1em;
	text-align: center;

}

#chicken-tile h1 {
	text-align: center;
	font-size: 1.4em;
	padding-bottom: 10px;
	margin-top: 10px;
}

/******** Margins Chicken
#chicken-tile, .col-sm-12 {
	margin-left: 10px;
	margin-right: 10px;
}
******/


/*********** Beef Tile ***********/
#beef-tile {
	background-color: #F7819F;
	border: 2px solid black;

}

#beef-tile span {
	font-size: 1.1em;
	text-align: center;

}

#beef-tile h1 {
	text-align: center;
	font-size: 1.4em;
	padding-bottom: 10px;
	margin-top: 10px;
}


/******** Margins Beef
#beef-tile, .col-sm-12 {
	margin-left: 10px;
	margin-right: 10px;
}
*******/

/*********** Sushi Tile ***********/
#sushi-tile {
	background-color: #A9F5A9;
	border: 2px solid black;

}

#sushi-tile span {
	font-size: 1.1em;
	text-align: center;

}

#sushi-tile h1 {
	text-align: center;
	font-size: 1.4em;
	padding-bottom: 10px;
	margin-top: 10px;
}

/******** Margins Sushi
#sushi-tile, .col-sm-12 {
	margin-left: 10px;
	margin-right: 10px;
}
******/




/****** Small Devices *******/
@media (max-width: 767px) {

#chicken-tile {
margin-left: 14%;
margin-right: 14%;
margin-bottom: 25px;
}

#beef-tile {
margin-left: 14%;
margin-right: 14%;
margin-bottom: 25px;
}

#sushi-tile {
margin-left: 14%;
margin-right: 14%;
margin-bottom: 25px;
}

}

/****** Large Devices *******
@media (min-width: 1200px) {

#chicken-tile, .col-lg-3 {
width:30:;
margin-left: 10px;
margin-right: 10px;
}

#beef-tile, .col-lg-3 {
width:31%;
margin-left: 10px;
margin-right: 10px;

}

#sushi-tile, .col-lg-3 {
	width: 31%;
	margin-left: 10px;
	margin-right: 10px;

}

}