* {
	font-family: Helvetica Ariel;
}

/** HEADER **/
#header-nav {
	background-color: #8A0886;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding: 5px 5px 5px 0;
	float: left;
}

.navbar-brand h1 {
	font-family: Helvetica;
	position: absolute;
	left: 0;
	color: black;
	font-size: 2.1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 10px;
	padding-top: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

.container {
	padding-right: 0;
	padding-left: 0;
	height: 60px;
}

#chicken {
	margin-top: -8px;
	background-color: #FF8000;
}

#beef {
	background-color: #F7819F;
}

#sushi {
	margin-bottom: 1px;
	background-color: #A9F5A9;
}

#menu1 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: -10px;

}

#menu2 {
	font-size: 1.6em;
	font-weight: bold;
	margin-top: -10px;
}

#chicken-section {
	border: 1px solid black;
}

p {
	margin-top: auto;
}

/****** Small Devices *******/
@media (max-width: 767px) {

}